# Praktikum 3: Manipulasi Data Tabular dengan Pandas

<a href="https://colab.research.google.com/github/pakizhan-ump/ml-umpontianak/blob/main/Modules/Week-02/Praktikum-02/Praktikum_3_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 🎯 Tujuan Praktikum
Mahasiswa mampu menggunakan library **Pandas** untuk memuat, membersihkan, memanipulasi, dan menganalisis data dalam bentuk tabel (DataFrame).

## 📖 Dasar Teori
**Pandas** adalah library yang dibangun di atas NumPy, dirancang khusus untuk analisis dan manipulasi data terstruktur atau tabular. Dua struktur data utamanya adalah:
* **Series:** Sebuah array satu dimensi yang memiliki label (indeks). Ini bisa dianggap sebagai satu kolom dalam sebuah tabel.
* **DataFrame:** Struktur data dua dimensi seperti tabel pada spreadsheet atau database SQL. DataFrame terdiri dari baris dan kolom, di mana setiap kolomnya adalah sebuah Pandas Series.

Pandas sangat esensial untuk tahap *data cleaning*, *preprocessing*, dan *exploratory data analysis (EDA)* dalam alur kerja machine learning. Ia menyediakan fungsi-fungsi tingkat tinggi untuk membaca file (CSV, Excel), menangani data yang hilang (*missing values*), melakukan pengelompokan (*grouping*), dan seleksi data yang kompleks dengan mudah.

# 🔧 OPERASI FUNDAMENTAL PANDAS

In [1]:
import pandas as pd
import numpy as np

# 1. DATAFRAME CREATION

In [2]:
print("=== DATAFRAME CREATION ===")
# From dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'Salary': [50000, 60000, 70000, 55000],
    'Department': ['IT', 'HR', 'IT', 'Finance']
}
df = pd.DataFrame(data)
print("DataFrame:\n", df)

=== DATAFRAME CREATION ===
DataFrame:
       Name  Age  Salary Department
0    Alice   25   50000         IT
1      Bob   30   60000         HR
2  Charlie   35   70000         IT
3    David   28   55000    Finance

# 2. ACCESS & INDEXING

In [3]:
print("\n=== ACCESS & INDEXING ===")
print("Column 'Name':", df['Name'].tolist())
print("First row:\n", df.iloc[0])                    # By integer position
print("Rows 1-2:\n", df.iloc[1:3])
print("Filter Age > 28:\n", df[df['Age'] > 28])

=== ACCESS & INDEXING ===
Column 'Name': ['Alice', 'Bob', 'Charlie', 'David']
First row:
 Name          Alice
Age              25
Salary        50000
Department       IT
Name: 0, dtype: object
Rows 1-2:
       Name  Age  Salary Department
1      Bob   30   60000         HR
2  Charlie   35   70000         IT
Filter Age > 28:
       Name  Age  Salary Department
1      Bob   30   60000         HR
2  Charlie   35   70000         IT

# 3. ADD/REMOVE COLUMNS

In [4]:

print("\n=== ADD/REMOVE COLUMNS ===")
df['Experience'] = [2, 5, 8, 3]                     # Add new column
df['Senior'] = df['Age'] > 30                       # Conditional column
df = df.drop('Experience', axis=1)                  # Remove column
print("After modifications:\n", df)

=== ADD/REMOVE COLUMNS ===
After modifications:
       Name  Age  Salary Department  Senior
0    Alice   25   50000         IT   False
1      Bob   30   60000         HR   False
2  Charlie   35   70000         IT    True
3    David   28   55000    Finance   False

# 4. HANDLING MISSING VALUES

In [7]:
import pandas as pd
import numpy as np

print("\n=== MISSING VALUES ===")
df_with_na = df.copy()
df_with_na.loc[1, 'Salary'] = np.nan
df_with_na.loc[2, 'Age'] = np.nan

print("With missing values:\n", df_with_na)
print("Is null:\n", df_with_na.isnull())
print("Fill with mean:\n", df_with_na.fillna(df_with_na.mean(numeric_only=True)))

=== MISSING VALUES ===
With missing values:
       Name   Age   Salary Department  Senior
0    Alice  25.0  50000.0         IT   False
1      Bob  30.0      NaN         HR   False
2  Charlie   NaN  70000.0         IT    True
3    David  28.0  55000.0    Finance   False
Is null:
     Name    Age  Salary  Department  Senior
0  False  False   False       False   False
1  False  False    True       False   False
2  False   True   False       False   False
3  False  False   False       False   False
Fill with mean:
       Name        Age        Salary Department  Senior
0    Alice  25.000000  50000.000000         IT   False
1      Bob  30.000000  58333.333333         HR   False
2  Charlie  27.666667  70000.000000         IT    True
3    David  28.000000  55000.000000    Finance   False

# 5. GROUPING & AGGREGATION

In [10]:
print("\n=== GROUPING & AGGREGATION ===")
grouped = df.groupby('Department')
print("Grouped means:\n", grouped.mean(numeric_only=True))
print("Grouped description:\n", grouped['Salary'].describe())

=== GROUPING & AGGREGATION ===
Grouped means:
              Age   Salary  Senior
Department
Finance     28.0  55000.0     0.0
HR          30.0  60000.0     0.0
IT          30.0  60000.0     0.5
Grouped description:
             count     mean           std      min      25%      50%      75%  \
Department
Finance       1.0  55000.0           NaN  55000.0  55000.0  55000.0  55000.0
HR            1.0  60000.0           NaN  60000.0  60000.0  60000.0  60000.0
IT            2.0  60000.0  14142.135624  50000.0  55000.0  60000.0  65000.0

                max
Department
Finance     55000.0
HR          60000.0
IT          70000.0

# 6. SORTING

In [11]:
print("\n=== SORTING ===")
df_sorted = df.sort_values('Salary', ascending=False)
print("Sorted by Salary:\n", df_sorted)

=== SORTING ===
Sorted by Salary:
       Name  Age  Salary Department  Senior
2  Charlie   35   70000         IT    True
1      Bob   30   60000         HR   False
3    David   28   55000    Finance   False
0    Alice   25   50000         IT   False

# 7. MERGING & JOINING

In [12]:
print("\n=== MERGING ===")
df2 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Eve'],
    'Bonus': [5000, 3000, 4000]
})
merged = pd.merge(df, df2, on='Name', how='left')
print("Merged DataFrame:\n", merged)

=== MERGING ===
Merged DataFrame:
       Name  Age  Salary Department  Senior   Bonus
0    Alice   25   50000         IT   False  5000.0
1      Bob   30   60000         HR   False  3000.0
2  Charlie   35   70000         IT    True     NaN
3    David   28   55000    Finance   False     NaN

# 8. PIVOT TABLES

In [13]:
print("\n=== PIVOT TABLES ===")
pivot = df.pivot_table(values='Salary', index='Department', aggfunc=['mean', 'count'])
print("Pivot table:\n", pivot)

=== PIVOT TABLES ===
Pivot table:
                mean  count
             Salary Salary
Department
Finance     55000.0      1
HR          60000.0      1
IT          60000.0      2

# 9. DATETIME OPERATIONS

In [14]:

print("\n=== DATETIME OPERATIONS ===")
dates = pd.date_range('20230101', periods=4)
df_dates = df.copy()
df_dates['Join_Date'] = dates
df_dates['Year'] = df_dates['Join_Date'].dt.year
print("With dates:\n", df_dates)

=== DATETIME OPERATIONS ===
With dates:
       Name  Age  Salary Department  Senior  Join_Date  Year
0    Alice   25   50000         IT   False 2023-01-01  2023
1      Bob   30   60000         HR   False 2023-01-02  2023
2  Charlie   35   70000         IT    True 2023-01-03  2023
3    David   28   55000    Finance   False 2023-01-04  2023

# 10. STRING OPERATIONS

In [15]:
print("\n=== STRING OPERATIONS ===")
df['Name_Upper'] = df['Name'].str.upper()
df['Name_Length'] = df['Name'].str.len()
print("String operations:\n", df[['Name', 'Name_Upper', 'Name_Length']])

=== STRING OPERATIONS ===
String operations:
       Name Name_Upper  Name_Length
0    Alice      ALICE            5
1      Bob        BOB            3
2  Charlie    CHARLIE            7
3    David      DAVID            5

# 🏋️ LATIHAN 3: OPERASI PANDAS UNTUK DATA ANALYSIS
### EXPLORATORY DATA ANALYSIS ###

In [18]:
'''TODO: Analisis Dataset Retail'''
# Create sample retail dataset
np.random.seed(42)
dates = pd.date_range('2023-01-01', '2023-03-31', freq='D')
retail_data = pd.DataFrame({
    'date': np.random.choice(dates, 1000),
    'product_id': np.random.randint(1, 11, 1000),
    'quantity': np.random.randint(1, 10, 1000),
    'price': np.random.uniform(10, 100, 1000),
    'customer_id': np.random.randint(1, 101, 1000)
})
retail_data['revenue'] = retail_data['quantity'] * retail_data['price']

# TODO 1: Hitung total revenue per product
revenue_per_product = retail_data.groupby('product_id')['revenue'].sum()

# TODO 2: Temukan top 5 customers berdasarkan total spending
top_customers = retail_data.groupby('customer_id')['revenue'].sum().nlargest(5)

# TODO 3: Analisis time series - revenue per hari
daily_revenue = retail_data.groupby('date')['revenue'].sum().sort_index()

# TODO 4: Buat fungsi untuk detect anomalies dalam quantity
def detect_quantity_anomalies(df, threshold=2):
    # TODO: Detect anomalies using Z-score
    mean_qty = df['quantity'].mean()
    std_qty = df['quantity'].std()
    df['z_score'] = (df['quantity'] - mean_qty) / std_qty
    return df[np.abs(df['z_score']) > threshold]

anomalies = detect_quantity_anomalies(retail_data)

assert len(revenue_per_product) <= 10, "Should have max 10 products"
assert len(top_customers) == 5, "Should have top 5 customers"
print("✅ Pandas operations completed")

# menampilkan hasil untuk dilihat
print("\n--- Total Revenue per Produk ---")
print(revenue_per_product)
print("\n--- Top 5 Pelanggan ---")
print(top_customers)
print("\n--- Revenue Harian (5 hari pertama) ---")
print(daily_revenue.head())
print(f"\n--- Ditemukan {len(anomalies)} anomali kuantitas (Z-score > 2) ---")
print(anomalies.head())

✅ Pandas operations completed

--- Total Revenue per Produk ---
product_id
1     24953.204554
2     28433.373576
3     27360.489903
4     23950.525430
5     29894.628309
6     29771.241361
7     30786.212454
8     32062.915807
9     30812.566464
10    25146.428705
Name: revenue, dtype: float64

--- Top 5 Pelanggan ---
customer_id
38    5239.536260
59    5185.221233
89    4759.149270
94    4690.528278
15    4657.289888
Name: revenue, dtype: float64

--- Revenue Harian (5 hari pertama) ---
date
2023-01-01    5268.121555
2023-01-02    4656.102661
2023-01-03    3226.578585
2023-01-04    2462.071219
2023-01-05    3741.645829
Name: revenue, dtype: float64

--- Ditemukan 0 anomali kuantitas (Z-score > 2) ---
Empty DataFrame
Columns: [date, product_id, quantity, price, customer_id, revenue, z_score]
Index: []