<a href="https://colab.research.google.com/github/221230001-wq/221230001-Pengantar-ML/blob/main/week-02/Praktikum_1_list_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PRAKTIKUM 1: STRUKTUR DATA LIST DAN DICTIONARY PYTHON

## Tujuan Praktikum
1. Memahami konsep struktur data list dan dictionary dalam Python
2. Mampu melakukan operasi dasar pada list dan dictionary
3. Dapat menerapkan list comprehension dan dictionary comprehension
4. Memahami penggunaan struktur data yang tepat untuk berbagai skenario

## Dasar Teori

### List
List adalah struktur data yang ordered, mutable, dan dapat menampung elemen dengan tipe data yang berbeda. Karakteristik list:
- Ordered: Elemen memiliki posisi/index tertentu
- Mutable: Dapat diubah setelah dibuat
- Dynamic: Dapat bertambah atau berkurang ukurannya
- Heterogeneous: Dapat menampung berbagai tipe data

### Dictionary
Dictionary adalah struktur data yang unordered, mutable, dan menggunakan key-value pairs. Karakteristik dictionary:
- Unordered: Tidak memiliki urutan tertentu (Python 3.7+ menjaga insertion order)
- Mutable: Dapat diubah setelah dibuat
- Key-Value pairs: Menggunakan key unik untuk mengakses value
- Fast lookup: Akses data sangat cepat menggunakan key

# 🔧 OPERASI FUNDAMENTAL LIST

## 1. ACCESS

In [25]:
numbers = [10, 20, 30, 40, 50]
print("Access by index:")
print("numbers[0]:", numbers[0])           # First element
print("numbers[-1]:", numbers[-1])         # Last element
print("numbers[1:4]:", numbers[1:4])       # Slicing
print("numbers[::2]:", numbers[::2])       # Step slicing

Access by index:
numbers[0]: 10
numbers[-1]: 50
numbers[1:4]: [20, 30, 40]
numbers[::2]: [10, 30, 50]

# 2. ADD ELEMENTS

In [26]:
numbers.append(60)                         # Add to end
print("After append(60):", numbers)

numbers.insert(2, 25)                      # Insert at index
print("After insert(2, 25):", numbers)

numbers.extend([70, 80, 90])               # Extend with another list
print("After extend:", numbers)

After append(60): [10, 20, 30, 40, 50, 60]
After insert(2, 25): [10, 20, 25, 30, 40, 50, 60]
After extend: [10, 20, 25, 30, 40, 50, 60, 70, 80, 90]

# 3. REMOVE ELEMENTS

In [27]:
removed = numbers.pop(3)                   # Remove by index
print(f"After pop(3): {numbers}, removed: {removed}")

numbers.remove(25)                         # Remove by value
print("After remove(25):", numbers)

del numbers[0:2]                           # Delete slice
print("After del [0:2]:", numbers)

After pop(3): [10, 20, 25, 40, 50, 60, 70, 80, 90], removed: 30
After remove(25): [10, 20, 40, 50, 60, 70, 80, 90]
After del [0:2]: [40, 50, 60, 70, 80, 90]

# 4. LOOPING

In [28]:
print("\nLooping techniques:")
print("For loop:")
for i, num in enumerate(numbers):
    print(f"Index {i}: {num}")

print("List comprehension:")
squares = [x**2 for x in numbers if x > 30]
print("Squares of numbers > 30:", squares)

Looping techniques:
For loop:
Index 0: 40
Index 1: 50
Index 2: 60
Index 3: 70
Index 4: 80
Index 5: 90
List comprehension:
Squares of numbers > 30: [1600, 2500, 3600, 4900, 6400, 8100]

# 5. SORTING

In [29]:
random_nums = [3, 1, 4, 1, 5, 9, 2, 6]
random_nums.sort()                         # In-place sort
print("Sorted ascending:", random_nums)

random_nums.sort(reverse=True)             # Descending sort
print("Sorted descending:", random_nums)

Sorted ascending: [1, 1, 2, 3, 4, 5, 6, 9]
Sorted descending: [9, 6, 5, 4, 3, 2, 1, 1]

# 6. COPYING

In [30]:
original = [1, 2, 3]
copy_ori = original
shallow_copy = original.copy()             # Shallow copy
deep_copy = original[:]                    # Another way to copy
print(f"Original: {original}, Copy: {shallow_copy}")

Original: [1, 2, 3], Copy: [1, 2, 3]

In [31]:
original.append(2)
print(copy_ori)
print(shallow_copy)

[1, 2, 3, 2]
[1, 2, 3]

# 7. AGGREGATION

In [32]:
data = [10, 20, 30, 40, 50]
print(f"Length: {len(data)}")
print(f"Min: {min(data)}, Max: {max(data)}")
print(f"Sum: {sum(data)}")
print(f"Mean: {sum(data)/len(data):.2f}")

Length: 5
Min: 10, Max: 50
Sum: 150
Mean: 30.00

# 8. JOINING

In [33]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined = list1 + list2                   # Concatenation
print("Combined lists:", combined)

Combined lists: [1, 2, 3, 4, 5, 6]

# 9. TYPE CHECKING

In [34]:
mixed_list = [1, "hello", 3.14, True]
print("Type checking:")
for item in mixed_list:
    print(f"{item} is {type(item)}")

Type checking:
1 is <class 'int'>
hello is <class 'str'>
3.14 is <class 'float'>
True is <class 'bool'>

# 🔧 OPERASI FUNDAMENTAL DICTIONARY

# 1. CREATE & ACCESS

In [35]:
student = {
    'name': 'Alice',
    'age': 20,
    'grades': [85, 90, 78],
    'courses': {'math': 'A', 'physics': 'B'}
}

print("Access operations:")
print("student['name']:", student['name'])
print("student.get('age'):", student.get('age'))
print("student.get('address', 'Not found'):", student.get('address', 'Not found'))

Access operations:
student['name']: Alice
student.get('age'): 20
student.get('address', 'Not found'): Not found

# 2. ADD & UPDATE

In [36]:
student['major'] = 'Computer Science'      # Add new key
print("After adding major:", student)

student.update({'age': 21, 'year': 2})     # Update multiple
print("After update:", student)

After adding major: {'name': 'Alice', 'age': 20, 'grades': [85, 90, 78], 'courses': {'math': 'A', 'physics': 'B'}, 'major': 'Computer Science'}
After update: {'name': 'Alice', 'age': 21, 'grades': [85, 90, 78], 'courses': {'math': 'A', 'physics': 'B'}, 'major': 'Computer Science', 'year': 2}

# 3. REMOVE

In [37]:
removed_grade = student.pop('grades')      # Remove and return
print(f"Removed grades: {removed_grade}")

del student['courses']                     # Delete key
print("After del courses:", student)

Removed grades: [85, 90, 78]
After del courses: {'name': 'Alice', 'age': 21, 'major': 'Computer Science', 'year': 2}

# 4. LOOPING

In [38]:
print("\nDictionary looping:")
print("Keys:", list(student.keys()))
print("Values:", list(student.values()))
print("Items:", list(student.items()))

print("Loop through items:")
for key, value in student.items():
    print(f"{key}: {value}")

Dictionary looping:
Keys: ['name', 'age', 'major', 'year']
Values: ['Alice', 21, 'Computer Science', 2]
Items: [('name', 'Alice'), ('age', 21), ('major', 'Computer Science'), ('year', 2)]
Loop through items:
name: Alice
age: 21
major: Computer Science
year: 2

# 5. COPYING

In [39]:
student_copy = student.copy()              # Shallow copy
print("Original:", student)
print("Copy:", student_copy)

Original: {'name': 'Alice', 'age': 21, 'major': 'Computer Science', 'year': 2}
Copy: {'name': 'Alice', 'age': 21, 'major': 'Computer Science', 'year': 2}

# 6. COMPREHENSION

In [40]:
numbers = [1, 2, 3, 4, 5]
squares_dict = {x: x**2 for x in numbers}
print("Dictionary comprehension:", squares_dict)

Dictionary comprehension: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# 7. AGGREGATION

In [41]:
grades_dict = {'math': 85, 'physics': 92, 'chemistry': 78}
print(f"Number of subjects: {len(grades_dict)}")
print(f"Highest grade: {max(grades_dict.values())}")
print(f"Lowest grade: {min(grades_dict.values())}")
print(f"Average grade: {sum(grades_dict.values())/len(grades_dict):.2f}")

Number of subjects: 3
Highest grade: 92
Lowest grade: 78
Average grade: 85.00

# 8. MERGING DICTIONARIES

In [42]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
merged = {**dict1, **dict2}                # Merge (dict2 overwrites)
print("Merged dictionaries:", merged)

Merged dictionaries: {'a': 1, 'b': 3, 'c': 4}

# 9. NESTED DICTIONARY OPERATIONS

In [43]:
school_data = {
    'students': {
        'Alice': {'age': 20, 'grade': 'A'},
        'Bob': {'age': 21, 'grade': 'B'}
    }
}

# Access nested data
print("Alice's age:", school_data['students']['Alice']['age'])

# Modify nested data
school_data['students']['Alice']['grade'] = 'A+'
print("Updated Alice's grade:", school_data['students']['Alice'])

Alice's age: 20
Updated Alice's grade: {'age': 20, 'grade': 'A+'}

**LATIHAN**

In [44]:
# 🏋️ LATIHAN 1: OPERASI LIST DAN DICTIONARY

### OPERASI LIST ###

'''TODO: Manipulasi Data List untuk Preprocessing'''
# Data mentah dari sensor
raw_data = [23.5, 24.1, 22.8, 25.3, 21.9, 26.7, 20.5, 24.8, 23.2, 25.9]

# TODO 1: Filter data yang berada di range 22-25 derajat
filtered_data = [temp for temp in raw_data if 22 <= temp <= 25]

# TODO 2: Normalisasi data ke range 0-1 menggunakan min-max scaling
min_val = min(raw_data)
max_val = max(raw_data)
normalized_data = [(x - min_val) / (max_val - min_val) for x in raw_data]

# TODO 3: Hitung moving average dengan window size 3
def moving_average(data, window_size):
    # TODO: Implementasi moving average
     return [sum(data[i:i+window_size]) / window_size for i in range(len(data) - window_size + 1)]

ma_result = moving_average(raw_data, 3)

assert len(filtered_data) <= len(raw_data), "Filtered data should not be longer"
assert all(0 <= x <= 1 for x in normalized_data), "Normalized data should be 0-1"
print(f"Filtered Data: {filtered_data}")
print(f"Moving Average: {[round(x, 2) for x in ma_result]}")
print("✅ List operations completed")


### OPERASI DICTIONARY ###

'''TODO: Processing Dataset untuk Machine Learning'''
# Dataset sample untuk klasifikasi
dataset = [
    {'features': [1.2, 3.4, 2.1], 'label': 'class_A'},
    {'features': [2.3, 1.5, 4.2], 'label': 'class_B'},
    {'features': [3.1, 2.8, 1.9], 'label': 'class_A'},
    {'features': [4.2, 3.9, 2.5], 'label': 'class_B'}
]

# TODO 4: Kelompokkan data berdasarkan label
def group_by_label(data):
    # TODO: Return dictionary dengan key: label, value: list of features
    grouped = {}
    for item in data:
        label = item['label']
        features = item['features']
        if label not in grouped:
            grouped[label] = []
        # menambahkan features ke list yang sesuai dengan labelnya
        grouped[label].append(features)
    return grouped


grouped_data = group_by_label(dataset)

# TODO 5: Hitung rata-rata features per kelas
def average_features_per_class(grouped_data):
    # TODO: Hitung mean features untuk setiap kelas
    avg_dict = {}
    for label, features_list in grouped_data.items():
        # zip(*features_list) mentranspose list, misal:
        # [[1, 2], [3, 4]] -> [(1, 3), (2, 4)]
        transposed_features = zip(*features_list)
        # Hitung rata-rata untuk setiap kolom feature
        class_averages = [sum(feature_col) / len(feature_col) for feature_col in transposed_features]
        avg_dict[label] = class_averages
    return avg_dict

avg_features = average_features_per_class(grouped_data)

assert 'class_A' in grouped_data, "Should contain class_A"
assert 'class_B' in grouped_data, "Should contain class_B"
print(f"\nGrouped Data: {grouped_data}")
print(f"Average Features: {avg_features}")
print("✅ Dictionary operations completed")

Filtered Data: [23.5, 24.1, 22.8, 24.8, 23.2]
Moving Average: [23.47, 24.07, 23.33, 24.63, 23.03, 24.0, 22.83, 24.63]
✅ List operations completed

Grouped Data: {'class_A': [[1.2, 3.4, 2.1], [3.1, 2.8, 1.9]], 'class_B': [[2.3, 1.5, 4.2], [4.2, 3.9, 2.5]]}
Average Features: {'class_A': [2.15, 3.0999999999999996, 2.0], 'class_B': [3.25, 2.7, 3.35]}
✅ Dictionary operations completed